body{
	background-color: #232323;
}

#map {
	
    height: 380px;
    width: 700px;
}

#myCarousel{
	height: 250px;
	width: 350px;
}

.control{
	
	margin-top: 10px;
	border-radius: 10px;
	border: 3px solid transparent;
	color: #f7484e;
  	background-color: #303030;
  	border-color: #999999;
}

a{
	display: inline;
	color: #f7484e;
}

h1{
	text-align: center;
	color: #f7484e;
	font-family: 'Merriweather', serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 14px; 
	text-transform: uppercase; 
}

#pControl{
	text-align: center;
	height: 150px;
	margin-bottom: 10px;
}

#history{
	overflow: auto;
	cursor: pointer;
}

#controlButtons{
	padding: 3px;
}

h5{
	font-weight: bold;
}
